*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 8%;
    width: 100%; 
}


.logo img{
    width: 79px;
}

ul{
    display: flex;
    list-style: none;
    gap: 60px; 
}

ul li a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-size: 14px;
}
    
ul li a:hover{
    border-bottom: 3px solid #E65100;
    padding-bottom: 5px;
    color: black;
    font-weight: bold;
    color: #E65100;
}
.button{
    display: flex;
    align-items: center;
    width: 20%;
}
.btn-connexion{
    color: #000;
    background-color: #fff;
    border:#fff;

    
}
.btn-inscription{
    color: #000;
    margin-left: 12px;
    background-color: #E65100;
    border: 8px solid #E65100;
    width: 70px;
    height: 30px;
      border-radius: 20px; 

    
}

.btn-presentation{
    background: url("images/banner-head-accueil.jpg");
    position: relative;
    width: 100%;
    background-position:center ;
    background-size: cover;
    padding: 20px 8%;
    height: 500px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap: 20px;
    
}

.btn-presentation .flou{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color:#eb590a71;
   
    /* opacity: 0.4; */
}
.contenu{
   
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 4%;
    width: 100%;  
    height: 400px;
    gap: 10px;
    position: relative;
}
    
 .image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;

 }
 .image img{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;


 }
.btn-h1{
    font-size: 50px;
    color: #fff;
   
    font-weight: bold;
}
.btn-h1 span{
    color: #FFB300;
}
.btn-text {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    
}
.Progress{
      background-color:#FFF3F0;
      width: 100%;
      padding: 30px;
      
}
.Progress h2{
  text-align: center;
  padding: 12px;
}
.blocs{
    display: flex;
    gap: 20px;
    justify-items: center;
    margin-left: 300px;
    
}
.blocs .bloc{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.bloc .btn-num{
        color:#E65100;
}
.bloc .text-para{
    color: #000;
    font-size: 12px;
}
.services{
   padding: 40px;
   width: 100%;
 }
.service-btn{
    display: flex;
    justify-content:space-between;
    justify-items: center;
    gap: 20px;
    padding: 10px;
    
 }
 .service-btn .bloc1{
    background-color:cornsilk;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 2% white;
 }
 .service-btn .bloc2{
    background-color:rgb(237, 192, 133);
    padding: 30px;
    border-radius: 10px;
 }
 .service-btn .bloc3{
    background-color:antiquewhite;
    padding: 30px;
    border-radius: 10px;
 }
 .ser{
    align-items: center;
    padding: 10px;
    text-align: center;
    font-weight: bold;
 }
 .text-para{
    align-items: center;
    padding: 10px;
    text-align: center; 
 }
 .carte{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFF3F0;
    height: 400px;
    width: 100%;
 }
 .carte h1{
    padding: 20px;
    align-items: center;
    text-align: center;
 }


 
 .card iframe {
    padding: 10px;
     left: 30px;
     height: 250px;
     width: 500px;
     border-radius:2px solid #fff ;
     border: 5px solid #fff;
    }



     
     .testimonials {
         text-align: center;
         padding: 60px 20px;
        }
        
        .testimonials h2 {
            font-size: 28px;
            margin-bottom: 40px;
        }
        
        .cards {
            display: flex;
            gap: 20px;
            justify-content: center;
            
        }
        
        .card {
                border-radius: 10px;
                padding: 25px 2x;
                width: 500px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
            
         }

         .ps{
            display: flex;
            align-items: center;
                gap: 10px; 
                padding: 10px;
         }
        .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
     color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}


.fd {
     background-color: #f4b400; }
.md { 
    background-color: #e91e63; }
.ab {
     background-color: #ff9800; }
.os { 
    background-color: #4caf50; }

.card h4 {
    margin: 5px 0;
    font-size: 16px;
    padding-bottom:-23px;
}

.stars {
    color: #ffb400;
    font-size: 14px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}
.quatre{
    background: url(images/banner-head-accueil.jpg);
    position: relative;
    width: 100%;
    background-position:center ;
    background-size: cover;
    align-items:center;
    gap: 20px;
    height: 300px;
}
 .quatre .flou-quatre{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color:#eb590a71;
}

.text-quatre{ 
    position: relative;
     display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  text-align: center;
  height: 100%;
       

}
.text-quatre h1{
    padding: 10px;
    color: #fff;
}
.text-quatre p{
    padding: 20px;
    color: #fff;
}
.bouton{
 display: inline-block;  
  padding: 12px 24px;
  background-color: #fff;
  color: #7a3e1d;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px
  
}
.footer{
     background-color: #1a1f2c;
}

.footer .infos{
    display:flex;
    align-items: center;
    gap: 160px;
    text-align: center;
    justify-content: center;

}
.infos .apros  .ap{
    padding: 14px;
    color: #fff;
}
.infos .apros a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.infos .serv  .ap{
    padding: 14px;
    color: #fff;
}
.infos .serv a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.infos .espace  .ap{
    padding: 14px;
    color: #fff;
}
.infos .espace a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.infos .contact  .ap{
    padding: 14px;
    color: #fff;
}
.infos .contact p{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.infos .contact address{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.infos .contact i{
    color: white;
}
hr{
    border: none;
    height: 1px;
    background-color: #444;
    margin: 20px 0; 
}
.copy p{
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 14px;
}


